.Main {}
.deep { background: url('../../assets/deep_space.jpg'); }
.left { float: left; }
.selected { }
/*
#Mercury { width: 100px; }
#Venus { width: 500px; }
#Earth { width: 600px; }
#Mars { width: 200px; }
#Jupiter { width: 1200px; }
#Saturn { width: 1000px; }
#Uranus { width: 800px; }
#Neptune { width: 800px; }
#Pluto { width: 100px; }
*/